/* Estilo.css */

/* Establecer el color de fondo, la fuente y el margen del cuerpo */
body {
    background-image: url("fondo.png");
    background-size: cover;
    background-attachment: fixed;
    background-color: #2b2b2b;
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Establecer el color de texto, el ancho y el borde del contenedor */
#contenedor {
    color: white;
    width: 800px;
    border: 5px solid #5c5c5c;
    margin-left: auto;
    margin-right: auto;
    background-color: #2b2b2b;
}

/* Establecer el color, el tamaño y el margen de los encabezados */
h1, h2 {
    color: #62a0a8;
    font-size: 36px;
    margin: 10px;
}

/* Establecer el tamaño y el margen de los párrafos */
p {
    font-size: 18px;
    margin: 10px;
}

/* Establecer el estilo de las referencias */
sup {
    font-size: 12px;
    vertical-align: super;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
  .button {
    height: 200px;
    border: none;
    cursor: pointer;
  }
  .image {
    height: 200px;
  }